<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-color: #FAF0E6;
        }
        strong{
        font-family: Tahoma;
        color: #000000;
        border:1;
        font-weight: bold;
        border-radius: 5px;
        width: 40%;
        height: 8%;
        font-size:200%;
        position:absolute;
        bottom:60%;
        right:27%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><strong> id не найдено попробуйте еще раз</strong></p>
</body>
</html>